.rigdown {
    font-size: 20px;
    text-align: center;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 999;
    border: 0px solid green;
    border-radius: 5pt;
    padding: 10pt;
    background: #eeeeee;
    position: fixed;
}

.rigdowndark {
    font-size: 20px;
    text-align: center;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 999;
    border: 0px solid green;
    border-radius: 5pt;
    padding: 10pt;
    background: #000000;
    position: fixed;
}

a.switchlang {
    text-decoration: none;
    color: black;
}