body{
    margin: 40pt 80pt;
}

p{
    font-size: 12pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1.title{
    text-align: center;
    color: darkblue;
}