body{
    margin: 40pt 80pt;
}

p{
    font-size: 12pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
    text-align: center;
}

h1.title{
    text-align: center;
    color: darkblue;
}

li.odd{
    color: rgb(0, 58, 139);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li.even{
    color: rgb(53, 0, 139);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}