.apostentry {
    border: 0px solid;
    padding: 30px 30px;
    border-radius: 10px;
    margin: 20px;
}

.apostentry:hover{
    padding: 60px 30px;
    transition: 0.5s;
}

.blogtitle {
    text-decoration: none;
    font-size: 40px;
    font-family: Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: darkslateblue;
}

.blogabstract {
    font-family: 'Trebuchet MS', sans-serif;
    padding-top: 15px;
    color: rgb(28, 2, 42);
}