body {
    margin: 5%;
}

a.lang:link,
a.lang:visited {
    color: rgb(51, 58, 6);
    text-decoration: none;
    border-style: solid;
    border-radius: 10pt;
    font-size: 25px;
    padding: 20pt 40pt;
    line-height: 75pt;
}

a.lang:hover {
    color: white;
    background-color: black;
    border-color: black;
    padding: 20pt 80pt;
    transition: 0.5s;
}

.entry {
    position: relative;
    text-align: center;
    color: white;
}

.title {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2pt;
    font-size: 20pt;

    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    padding: 10pt 20pt;
    border-radius: 30pt;
}

.title:hover {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.subtitle {
    text-decoration: none;
    color: white;
    mix-blend-mode: difference;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1pt;
    font-size: 15pt;
}

.rigdown {
    font-size: 20px;
    text-align: center;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 999;
    border: 0px solid green;
    border-radius: 5pt;
    padding: 10pt;
    background: #eeeeee;
    position: fixed;
}

.rigdowndark {
    font-size: 20px;
    text-align: center;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 999;
    border: 0px solid green;
    border-radius: 5pt;
    padding: 10pt;
    background: #000000;
    position: fixed;
}

a.switchlang {
    text-decoration: none;
    color: black;
}

.mainpagetitle {
    border-left: solid;
    border-right: solid;
    padding: 20px 40px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}